.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    position: relative;
    height: 100vh;

    .content {
        flex-grow: 1;
        background-color: var(--clr-bg-content);

    }
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

a {
    text-decoration: none;
    color: unset;
}

.todos {
    padding: 32px 0;
    max-height: calc(100vh - 290px);
    overflow-y: auto;

    .item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 12px 36px;
        border-radius: 20px;
        border: 1px solid var(--clr-mid-gray);
        gap: 30px;

        .time {
            flex-shrink: 0;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 10px;
            max-width: 240px;
            width: 100%;

            .checkTodo {
                width: 30px;
                height: 30px;
                display: inline-block;
                flex-shrink: 0;
                aspect-ratio: 1;
                border-radius: 50%;
                border: 4px solid var(--clr-dark-blue);
            }
        }
    }
}

.page-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    font-size: clamp(1.2rem, calc(1rem + 1.3vw), 1.5rem) !important;

    .page-content {
        padding: 9.5px 19px 9.5px 19px;
        color: var(--clr-white);
        width: fit-content;
        position: relative;
    }

    hr {
        background-color: var(--clr-light-gray);
        width: 100%;
    }
}

.inner-content {
    padding: 28px 32px;
}

@media(max-width:992px) {

    .todos {
        .item {
            flex-direction: column;
            gap: 30px;
            align-items: unset;

            .status-container {
                order: 1;
                max-width: fit-content;
            }

            .title {
                order: 2;
            }

            .time {
                order: 3;
            }

            .actions {
                order: 4;
            }
        }
    }
}

h2 {
    font-size: clamp(1rem, calc(0.9rem + 1.2vw), 1.5rem);
}

.gap-20 {
    gap: 20px;
}

.error-message {
    text-align: center;
    font-weight: 600;
    color: var(--clr-red);
    margin: 20px auto;
}