main {
    display: flex;

    .content {
        flex-grow: 1;
        border: 1px solid red;
        background-color: red;
        height: 100dvh;
    }
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}