main {
    display: flex;

    .content {
        flex-grow: 1;
        background-color: rgba(28, 29, 34, 0.06);
        height: 100dvh;
    }
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

a {
    text-decoration: none;
    color: unset;
}