main {
    display: flex;
    position: relative;

    .content {
        flex-grow: 1;
        background-color: rgba(28, 29, 34, 0.06);
        height: 100dvh;
        position: relative;
    }
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

a {
    text-decoration: none;
    color: unset;
}

.todos {
    padding: 32px;

    .item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 12px 36px;
        border-radius: 20px;
        border: 1px solid #A3A3B9;
    }
}

.todos {
    max-height: calc(100vh - 225px);
    overflow-y: auto;
}