.modal {
    position: absolute;
    background-color: white;
    z-index: 410;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    width: 100%;
    max-width: 700px;
    padding: 32px;
    border-radius: 20px;


    .modal-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--clr-black);
        margin-bottom: 30px;
        padding: 10px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 400;
    width: 100%;
    height: 100%;
    left: 0;
}