* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: sans-serif;
}

.wrapper {
  height: calc(100dvh - 200px);
}

:root {
  --clr-green: #54C1AD;
  --clr-orange: #FDBF46;
  --clr-black: #1C1D22;
  --clr-red: #F06A6D;
  --clr-link: rgba(28, 29, 34, 0.5);
  --clr-blue: #669ce3;
  --clr-white: #fff;
  --clr-mid-black: #1C1D22;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-45 {
  font-size: 45px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.btn-green {
  background-color: var(--clr-green) !important;
  color: var(--clr-white) !important;
  padding: 0.75rem 1.5rem;
}
.btn-green:hover, .btn-green:active, .btn-green:focus {
  background-color: var(--clr-green) !important;
  color: var(--clr-white) !important;
}

.bg-green {
  background-color: var(--clr-green) !important;
  color: var(--clr-white) !important;
}

.text-green {
  color: var(--clr-green) !important;
}

.badge-green {
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 8px 16px;
  border-radius: 16px;
}

.btn-orange {
  background-color: var(--clr-orange) !important;
  color: var(--clr-white) !important;
  padding: 0.75rem 1.5rem;
}
.btn-orange:hover, .btn-orange:active, .btn-orange:focus {
  background-color: var(--clr-orange) !important;
  color: var(--clr-white) !important;
}

.bg-orange {
  background-color: var(--clr-orange) !important;
  color: var(--clr-white) !important;
}

.text-orange {
  color: var(--clr-orange) !important;
}

.badge-orange {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  padding: 8px 16px;
  border-radius: 16px;
}

.btn-red {
  background-color: var(--clr-red) !important;
  color: var(--clr-white) !important;
  padding: 0.75rem 1.5rem;
}
.btn-red:hover, .btn-red:active, .btn-red:focus {
  background-color: var(--clr-red) !important;
  color: var(--clr-white) !important;
}

.bg-red {
  background-color: var(--clr-red) !important;
  color: var(--clr-white) !important;
}

.text-red {
  color: var(--clr-red) !important;
}

.badge-red {
  background-color: var(--clr-red);
  color: var(--clr-white);
  padding: 8px 16px;
  border-radius: 16px;
}

.btn-black {
  background-color: var(--clr-black) !important;
  color: var(--clr-black) !important;
  padding: 0.75rem 1.5rem;
}
.btn-black:hover, .btn-black:active, .btn-black:focus {
  background-color: var(--clr-black) !important;
  color: var(--clr-black) !important;
}

.bg-black {
  background-color: var(--clr-black) !important;
  color: var(--clr-black) !important;
}

.text-black {
  color: var(--clr-black) !important;
}

.badge-black {
  background-color: var(--clr-black);
  color: var(--clr-black);
  padding: 8px 16px;
  border-radius: 16px;
}

.btn-gray {
  background-color: var(--clr-link) !important;
  color: var(--clr-white) !important;
  padding: 0.75rem 1.5rem;
}
.btn-gray:hover, .btn-gray:active, .btn-gray:focus {
  background-color: var(--clr-link) !important;
  color: var(--clr-white) !important;
}

.bg-gray {
  background-color: var(--clr-link) !important;
  color: var(--clr-white) !important;
}

.text-gray {
  color: var(--clr-link) !important;
}

.badge-gray {
  background-color: var(--clr-link);
  color: var(--clr-white);
  padding: 8px 16px;
  border-radius: 16px;
}

.btn-blue {
  background-color: var(--clr-blue) !important;
  color: var(--clr-white) !important;
  padding: 0.75rem 1.5rem;
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
  background-color: var(--clr-blue) !important;
  color: var(--clr-white) !important;
}

.bg-blue {
  background-color: var(--clr-blue) !important;
  color: var(--clr-white) !important;
}

.text-blue {
  color: var(--clr-blue) !important;
}

.badge-blue {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 8px 16px;
  border-radius: 16px;
}

.btn {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

input {
  width: 100%;
  height: 44px;
  background-color: #D9D9D9;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  font-weight: 600;
  padding: 10px;
}

form {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
form .form-group {
  margin-bottom: 20px;
}
form .form-handler {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  margin-top: 40px;
}
form .form-handler button {
  padding: 6px 20px;
}

header .header {
  height: 94px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 32px;
}
header .header .header-box {
  display: flex;
  align-items: center;
  gap: 22px;
}
header .header .header-box > div {
  display: flex;
  gap: 10px;
}

.board-view {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 28px 32px;
  background-color: #fdfdfe;
  border-bottom: 2px solid rgba(28, 29, 34, 0.08);
}
.board-view h3 {
  font-weight: 400;
  position: relative;
}
.board-view h3::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: var(--clr-black);
  bottom: -30px;
}
.board-view .btn {
  display: flex;
  gap: 10px;
  background-color: var(--clr-mid-black);
  padding: 12px 24px;
  color: var(--clr-white);
  border-radius: 19px;
  border: none;
  cursor: pointer;
}

.sidebar {
  width: 318px;
  box-shadow: 40px 180px 80px 0px rgba(28, 29, 34, 0.0588235294);
  padding: 32px 28px;
  transition: 0.4s ease;
}
.sidebar.closeSide {
  width: 0;
  overflow: hidden;
  padding: 32px 0;
}
.sidebar .logo-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.sidebar .logo-box .sidebar-btn-handler {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: lightgray;
  color: gray;
}
.sidebar nav .link-box {
  border-left: 2px solid var(--clr-link);
}
.sidebar nav .link-box .item {
  list-style: none;
  text-decoration: none;
  margin: 32px 0;
  display: flex;
  align-items: center;
  gap: 21px;
}
.sidebar nav .link-box .item::before {
  content: "";
  position: relative;
  font-weight: 600;
  font-size: 24px;
  width: 20px;
  height: 3px;
  background-color: var(--clr-link);
}
.sidebar nav .link-box .item .item-link {
  padding: 10px 18px;
}
.sidebar nav .link-box .item .item-link a {
  color: var(--clr-link);
}
.sidebar nav .link-box .item:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .sidebar {
    position: absolute;
    background-color: white;
    height: 100%;
    z-index: 300;
  }
}
main {
  display: flex;
  position: relative;
}
main .content {
  flex-grow: 1;
  background-color: rgba(28, 29, 34, 0.06);
  height: 100dvh;
  position: relative;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

a {
  text-decoration: none;
  color: unset;
}

.todos {
  padding: 32px;
}
.todos .item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 12px 36px;
  border-radius: 20px;
  border: 1px solid #A3A3B9;
}

.modal {
  position: absolute;
  background-color: white;
  z-index: 410;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  width: 100%;
  max-width: 700px;
  padding: 32px;
  border-radius: 20px;
}
.modal .modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-black);
  margin-bottom: 30px;
  padding: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 400;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */